
/* BODY CSS*/
body {
    background-color: #000000;
    font-family: 'DM Sans', sans-serif;
    margin-top:3rem;
    margin-bottom: 3rem;
    margin-left:5%;
    margin-right:5%;
    color: #FFFFFF;
}

/* FOR THE TEXT HEADERS*/


h1 {
    font-size: 1rem;
    font-family: 'DM Sans', sans-serif;
    margin-bottom: 0.1rem;
}

p{
    font-size: 0.5rem;
    font-family: 'DM Sans', sans-serif;
    margin-top: 0; 
}



/* Image in header (logo)*/
header > img {
    display: block;
    margin-left:auto;
    margin-right:auto;
    width: 30%;
}

/*changes the width to 30% of all article tags*/
.article {
    width: 100%;
}

article > img {
    border-radius: 15px;
    transition: transform 0.3s; /* Add a smooth transition for the hover effect */
}

article > img:hover,
article > img:active {
    transform: scale(0.8); /* Increase the scale on hover or click */
}


nav {
    background-color: #FFFFFF;
    border-radius: 10px;
    opacity: 50px;

}

nav ul {
    list-style: none;
    text-align: center;
    padding: 10px 20%; 
    
}

nav li {
    display: inline-block;
    margin-right: 35px; 
}

nav a {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 16px; 
    
}

nav a:hover {
    background-color: #daa533; 
    color: #ffffff; 
    
}

.promotion_image {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    margin: 0 auto;
}

.promotion_image img {
    width: 100%;
    border-radius: 15px;
    transition: transform 0.3s ease-in-out; /* Adjusted the transition property */
}

.promotion_image img:hover {
    transform: scale(1.1); /* Adjusted the scale value */
}

.trailer-section {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
}

.trailer-section iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}



main {
    display: flex;
    flex-wrap: wrap; 
}


section {
    flex: 1;
    margin: 10px; 
}



footer {
    display:flex;
}

footer img {
    width:12% ;
  
}

footer div{
    flex:1;
    
}

